<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticker</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
    <a href="http://localhost:8000/stocks" class="btn btn-primary">Go Home</a>    

    <h1>{{ quote.name }}  ({{ ticker }})</h1>
    <h3>Last Annual Report Date: {{ date }}</h3>
    <h3>Price: {{ quote.price }}</h3>
    {{ table|safe }}
    
    <div id="container1" style="height: 500px"></div>
    <script>
        var data ={{ chart_json|safe }};
        console.log('data:', data); // Output data to console
        var dates = [];
        var highs = [];
        var div = []; // Add new array for lows
        for (var i=0; i<data.length; i++) {
            dates.push(data[i]['Year']);
            highs.push(data[i]['Price']);
            div.push(data[i]['Div']); // Push lows to the new array
        }
        console.log('dates:', dates); // Output dates to console
        console.log('highs:', highs); // Output highs to console
        console.log('div:', div); // Output lows to console
        var chart = Highcharts.chart('container1', {
            chart: {
                type: 'areaspline',
                zoomType: 'x'
            },
            tooltip: {
                animation: true,
                backgroundColor: '#fadad7',
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Highcharts Line Chart'
            },
            xAxis: {
                categories: dates
            },
            yAxis: [{ // Add new yAxis array
                title: {
                    text: 'Price'
                }
            }, {
                title: {
                    text: 'Dividend'
                },
                opposite: true // Place on the right side
            }],
            series: [{
                name: 'Price',
                data: highs
            }, {
                name: 'Div', // Add new series for lows
                data: div,
                yAxis: 1, // Assign the new yAxis to this series
                type: 'line' // Change series type to line
            }]
        });
    </script>
    <div id="container2" style="height: 500px"></div>
    <script>
        var data2 = {{ all_annual|safe }} ;
        var years = [];
        var price = [];
        var EPS = [];
        var dividends = []; // Add new array for dividends
        for (var i=0; i<data2.length; i++) {
            years.push(data2[i]['calendarYear']);
            price.push(data2[i]['stockPrice']);
            EPS.push(data2[i]['eps']);
            dividends.push(data2[i]['dividend']); // Push dividends to the new array
        }

        var chart2 = Highcharts.chart('container2', {
            chart: {
                type: 'line',
                zoomType: 'x',
                backgroundColor: '#f5f5f5'
            },
            tooltip: {
                animation: false,
                backgroundColor: '#fadad7',
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Highcharts Line Chart'
            },
            xAxis: {
                categories: years,
                
                labels: {
                    formatter: function() {
                        var divIndex = years.indexOf(this.value);
                        var divValue = dividends[divIndex];
                        var epsValue = EPS[divIndex];
                        var str = '<span style="font-size: 12px;">' + this.value + '</span><br/>';
                        if (divValue) {
                            str += '<span style="font-size: 10px; color: #666;">DIV: ' + divValue + '</span><br/>';
                        } else {
                            str += '<span style="font-size: 10px; color: #666;">DIV: 0</span><br/>'; // Return zero if no dividend
                        }
                        if (epsValue) {
                            str += '<span style="font-size: 10px; color: #666;">EPS: ' + epsValue + '</span>';
                        } else {
                            str += '<span style="font-size: 10px; color: #666;">EPS: 0</span>'; // Return zero if no EPS
                        }
                        return str;
                    }
                }
            },
            yAxis: [{ 
                title: {
                    text: 'Price'
                }
            }, {
                title: {
                    text: 'EPS'
                },
                opposite: true
            }],
            series: [{
                name: 'stockPrice',
                data: price,
                color: 'black',                
                lineWidth: 2,
                zIndex: 1,
                marker:{
                    enabled: false
                }
            }, {
                name: 'EPS',
                data: EPS,
                yAxis: 1,
                type: 'area',
                color: '#006400',
                fillColor: {
                    linearGradient: [0, 0, 0, 800],
                    stops: [
                        [0, 'rgba(0, 100, 0, 0.8)'],
                        [1, 'rgba(0, 200, 0, 0.1)']
                    ]
                },
                lineWidth: 3,
                lineColor: '#fc5e03'
            }, {
                name: 'Dividend',
                data: dividends,
                color: 'white',                
                lineWidth: 2,
                zIndex: 1,
                marker:{
                    enabled: false
                }
            }]
        });
    </script>
    

    
</body>
</html>

