<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticker</title>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
    <a href="http://localhost:8000/stocks" class="btn btn-primary">Go Home</a>    

    <h1>{{ quote.name }}  ({{ ticker }})</h1>
    <h3>Last Annual Report Date: {{ date }}</h3>
    <h3>Price: {{ quote.price }}</h3>
    {{ table|safe }}
    
    <div id="container1" style="height: 500px"></div>
    <script>
        var yearlydata = {{ chart_json|safe }};
        //console.log('data:', yearlydata);
        var yearlydates = [];
        var yearlyhighs = [];
        var yearlydiv = [];
      
        for (var i = 0; i < yearlydata.length; i++) {
          yearlydates.push(yearlydata[i]['Year']);
          yearlyhighs.push(yearlydata[i]['Price']);
          yearlydiv.push(yearlydata[i]['Div']);
        }
        var weeklydata = {{ weekly_price|safe }};
        var weeklyprice = [];
        var weeklydate = [];
        for (var i = 0; i < weeklydata.length; i++) {
          weeklyprice.push(weeklydata[i]['close']);
          weeklydate.push(weeklydata[i]['date']);
        }
        //console.log('weeklyprice:', weeklyprice);
        var chart = Highcharts.stockChart('container1', {
          rangeSelector: {
            selected: 1
          },
          title: {
            text: 'Stock Prices'
          },
          yAxis: [{ // y-axis for the yearly and dividend series
            opposite: true,
          }, { // y-axis for the weekly series
            opposite: false,
            title: {
              text: 'Weekly Price'
            }
          }],
          series: [{
            name: 'Yearly',
            data: yearlyhighs,
            pointStart: Date.UTC(yearlydates[0], 0, 1),
            pointInterval: 365 * 24 * 3600 * 1000, // one year in milliseconds,
            yAxis: 1 // assign this series to the first y-axis
          }, {
            name: 'Weekly',
            data: weeklyprice,
            pointStart: Date.parse(weeklydate[0]),
            pointInterval: 7 * 24 * 3600 * 1000, // one week in milliseconds
            yAxis: 1 // assign this series to the second y-axis
          }, {
            name: 'Dividend',
            data: yearlydiv,
            pointStart: Date.UTC(yearlydates[0], 0, 1),
            pointInterval: 365 * 24 * 3600 * 1000, // one year in milliseconds
            color: 'green',
            lineWidth: 2,
            zIndex: 0,
            marker: {
              enabled: true
            },
            yAxis: 0 // assign this series to the first y-axis
          }]
        });
      
        // add labels under x-axis
        chart.renderer.text('Dividend', chart.plotLeft + chart.plotWidth / 2, chart.plotTop + chart.plotHeight + 20)
          .attr({
            align: 'center'
          })
          .add();
        chart.renderer.text('$' + yearlydiv[0].toFixed(2), chart.plotLeft, chart.plotTop + chart.plotHeight + 35)
          .attr({
            align: 'left'
          })
          .add();
        chart.renderer.text('$' + yearlydiv[yearlydiv.length - 1].toFixed(2), chart.plotLeft + chart.plotWidth, chart.plotTop + chart.plotHeight + 35)
          .attr({
            align: 'right'
          })
          .add();
      </script>
    
    
    <div id="container2" style="height: 700px"></div>
    <script>
        var data2 = {{ all_annual|safe }} ;
        var years = [];
        var price = [];
        var EPS = [];
        var dividends = []; // Add new array for dividends
        var EPSlabel = [];
        var divlabel = [];

        for (var i=0; i<data2.length; i++) {
            years.push(data2[i]['calendarYear']);
            price.push(data2[i]['stockPrice']);
            EPS.push(data2[i]['eps']);
            dividends.push(data2[i]['dividend']); // Push dividends to the new array
            EPSlabel.push(data2[i]['eps']);
            divlabel.push(data2[i]['dividend']);
        }
        //console.log('years:', years);
        var weeklydata = {{ weekly_price|safe }};
        var weeklyprice = [];
        var weeklydate = [];    
        for (var i=0; i<weeklydata.length; i++) {
            weeklyprice.push(weeklydata[i]['close']);
            weeklydate.push(weeklydata[i]['date']); 
        }
        var rangeButtons = [];
        for (var i = 1; i <= 20; i++) {
        rangeButtons.push({
            type: 'year',
            count: i,
            text: i + 'y'
        });
        }

        var chart2 = Highcharts.stockChart('container2', {
            chart: {
                type: 'line',
                zoomType: 'x',
                backgroundColor: '#f5f5f5'
            },
            rangeSelector: {
                buttonTheme: {
                width: 52,
                height: 20,
                fill: '#f0ce95',
                stroke: '#aaa',
                'stroke-width': 1,
                style: {
                    color: '#333',
                    fontWeight: 'bold'
                },
                states: {
                    hover: {
                    fill: '#e6e6e6',
                    stroke: '#aaa',
                    'stroke-width': 1,
                    style: {
                        color: '#333',
                        fontWeight: 'normal'
                    }
                    },
                    select: {
                    fill: '#428bca',
                    stroke: '#428bca',
                    'stroke-width': 1,
                    style: {
                        color: '#fff',
                        fontWeight: 'normal'
                    }
                    }
                }
                },
                buttons: rangeButtons
            },
            tooltip: {
                animation: false,
                backgroundColor: '#c1d8d9',                
            },
            navigator: {
                enabled: true,
                maskFill: 'rgba(0, 0, 0, 0.1)',
                series: {
                color: '#f79525',//color of line
                fillColor: '#70b053'//color of fill
                }
            },
            plotOptions: {
            series: {
                showInNavigator: true
            },
            line: {
                dataLabels: {
                enabled: false
                }
            }
             }, 
            credits: {
                enabled: false
            },
            title: {
                text: '<span style="font-size: 20px; color: #050300;">{{ ticker }} Valuation </span>'
            },
            xAxis: {
            categories: years,
            type: 'datetime',
            units: [['year', [1]]],
            labels: {
                format: '{value:%Y-%b-%e}',
                formatter: function() {
                var year = Highcharts.dateFormat('%Y', this.value);
                var yearIndex = years.indexOf(year);
                var divValue = divlabel[yearIndex];
                var epsValue = EPSlabel[yearIndex];
                var str = '<span style="font-size: 10px; color: #050300;">' + Highcharts.dateFormat('%Y',this.value) + '</span><br/>';
                if (divValue !== undefined) {
                    str += '<span style="font-size: 10px; color: #050300;">DIV: ' + divValue + '</span><br/>';
                } else {
                    str += '<span style="font-size: 10px; color: #666;">DIV: N/A</span><br/>';
                }
                if (epsValue !== undefined) {
                    str += '<span style="font-size: 10px; color: #050300;">EPS: ' + epsValue + '</span>';
                } else {
                    str += '<span style="font-size: 10px; color: #666;">EPS: N/A</span>';
                }
                return str;
                }
            }
            },
            yAxis: [{ 
                title: {
                    text: 'Price'
                },
                opposite: false
            }, {
                title: {
                    text: 'EPS'
                },
                opposite: true
            }],
            series: [{
                name: 'EPS',
                data: EPS,
                pointStart: Date.parse(years[0] + '-01-01'),
                pointInterval: 365.25 * 24 * 3600 * 1000,
                yAxis: 1,
                type: 'area',
                color: '#54824f',
                fillColor: {
                    linearGradient: [0, 0, 0, 800],
                    stops: [
                        [0, 'rgba(0, 100, 0, 1.0)'],
                        [1, 'rgba(0, 400, 0, 0.01)']
                    ]
                },
                lineWidth: 3,
                lineColor: '#fc5e03'
            },{
                name: 'Weekly',
                data: weeklyprice,
                type: 'line',
                color: 'black',
                zIndex: 1,
                pointStart: Date.parse(weeklydate[0]),
                pointInterval: 7 * 24 * 3600 * 1000, // one week in milliseconds
                yAxis: 0, // assign this series to the second y-axis
                labels: {
                    enabled: false
                }
            },{
                name: 'Dividend',
                data: dividends,
                pointStart: Date.parse(years[0] + '-01-01'),
                pointInterval: 365.25 * 24 * 3600 * 1000,
                yAxis: 1,
                color: 'white',                
                lineWidth: 2,
                zIndex: 1,
                marker:{
                    enabled: false
                }
            }]
        });
                
    </script>
    
</body>
</html>